// у этого файла опечатка в названии
@media (max-width: 767px) {
  header {
    .top-header-block {
      .basket {
        float: none;
        margin: 20px auto 0;
      }
    }
  .nav {
    width: 100%;
    z-index: 10;
    margin-top: 7px;
    text-align: center;
    // опять айди, кроме того это так называемый overqualified selector
    // нужно определить чему ты хочешь дать стили, всем спискам ul внутри nav или конкретно какому-то одному
    // в первом случае достаточно селектора ul, во втором лучше дать элементу определенный класс и использовать только класс как селектор
    ul#menu {
      display: none;
      li a {
        width: 100%;
        display: block;
        color: #fff;
        font-size: $fs-title;
        font-family: $bebas-b;
        padding: 5px 0 5px;
        transition: background 0.2s;
        text-decoration: none;
      }
      a:hover {
        background-color: $sea-wave-dark;
      }
    }
  }
  %burger {
    height:5px;
    background: $white;
    content:'';
    position:relative;
    // хороший код однородно отформатирован, тогда его проще читать
    // обращай внимание на пробелы и то как ты задаешь единицы измерения
    // реши ставишь ли ты пробелы, скажем, после двоеточия и тогда ставь их всегда
    // то же самое с нулями перед десятичной точкой - если да, то всегда, если нет - то тоже всегда :)
    // компьютеру все равно, но с кодом работают в основном люди, а люди любят постоянство
    // чистое однородное форматирование ОЧЕНЬ добавляет к хорошему впечатлению от проекта
    transition:.25s ease-in-out;
  }
  .hidden {
    opacity:0;
  }
  .rot45deg {
    transform:rotate(45deg);
    top:10px !important;
  }
  .rot-45deg {
    transform:rotate(-45deg);
  }
  // overqualified selector опять
  ul.hamburger {
    display:block;

    li {
      @extend %burger;
      &:nth-child(1) {
        top:0;
      }
      &:nth-child(2) {
        top:5px;
      }
      &:nth-child(3) {
        top:10px;
      }
    }
  }
  .hamburger-container {
    width:38px;
    height:30px;
    cursor: pointer;
    margin: 3px auto;
  }

  // здесь идут респонсив стили для твоего слайдера
  // гораздо логичнее было бы эти стили хранить в файле с остальными стилями слайдера
  // тебе тогда будет проще вносить изменения, и если ты слайдер удалишь 
  // или захочешь перенести в другой проект, то это тоже будет проще
  // всегда старайся организовывать код по принципу модульности, потому что единственное, 
  // что постоянно в разработке софта так это то, что этот софт приходится переписывать :) 
  // лучше сразу облегчить себе и коллегам жизнь
    .top-slider {
      #top{
        .top-owl-item {
          img {
            width: 200px;
          }
          .top-owl-content {
            max-width: 500px;
            margin-top: 40px;
            h1 {
              font-size: $fs-title-extra-large;
            }
            p {
              display: none;
            }
            button {
              width: 130px;
              height: 40px;
              margin: 20px 0;
              span {
                font-size: $fs-title;
              }
            }
          }
        }
      }
    }
    .triple-slider {
      #triple {
        .owl-nav  {
          .owl-prev {
            left: 0;
          }
          .owl-next {
            right: 0;
          }
        }
        .triple-owl-item {
          height: 190px;
          border-right: none;
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
          .item-img {
            margin-right: 30px;
          }
          .item-content {
            margin-left: 30px;
          }
          button {
            margin-left: 30px;
          }
        }
      }
    }
  }
  .catalog {
    .catalog-item {
      max-width: 400px;
    }
  }
  footer {
    .links {
      h1 {
        a {
          // тот факт, что у тебя объявлено несколько переменных с размерами шрифта,
          // но тебе все равно приходится использовать другие значения
          // говорит о проблеме в графическом дизайне
          // чем меньше разных шрифтов и чем меньше ассортимент их размеров - тем лучше
          font-size: 1.25rem;

        }
      }
      // здесь ты прячешь все списки целиком, так почему бы не задать display: none сразу для ul
      ul {
        li {
          a {
            display: none;
          }
        }
      }
    }
  }
}
