.copyright {
  max-height: 45px;
  background-color: $sea-wave-dark;
  padding: 5px;
  p {
    font-family: $open-sans;
    font-size: $fs-base;
    color: $white;
    text-align: center;
    margin: 10px 0;
  }
}