header {
  .nav {
    background-color: $sea-wave;
    .menu {
      min-height: 30px;
      ul{
        display: inline-block;
        font-size: 0;
        li {
          display: inline-block;
          margin: 7px 0;
          border-right: 1px solid $white;
          &:last-child {
            border-right: none;
          }
          a {
            cursor: pointer;
            font-family: $bebas-r;
            font-size: $fs-title;
            color: $white;
            text-decoration: none;
            padding: 5px 17px;
            &:active {
              text-shadow: 1px 1px 7px #ffffff;
            }
          }
        }
      }
    }
  }
}
